nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a(href="/").navbar-brand Alışveriş Yap
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href="") Giriş Yap
                    li.nav-item
                        a.nav-link(href="") Kaydol